.card {
	height: 0px;
	background: white;
	box-shadow: 0px 0px 5px 0px hsl(0, 0%, 0%, 30%);
	border-radius: 10px;
	padding: 5px 10px;
	margin: 5px;
	transition: width 0.3s;
	overflow: hidden;
	width: fit-content;

	transition:
		max-width 0.5s,
		max-height 0.5s;
	text-wrap: nowrap;
}

.card > p > span {
	color: black;
	transition:
		color 0.3s,
		width 0.5s,
		opacity 0.5s;
	z-index: 1;
	position: relative;
}
