@font-face {
	font-family: 'spacemono';
	src: url('/fonts/SpaceMono-Regular.ttf');
}
* {
	font-family: 'spacemono';
}

html {
	min-width: fit-content;
}

body {
	min-height: 100vh;
	margin: 0;
}
button {
	transition: scale 0.2s cubic-bezier(0.92, 0.04, 0.27, 1.77);
	border: none;
	border-radius: 5px;
	display: grid;
	place-content: center;
	background: white;
	padding: 5px;
	box-shadow: 0px 0px 5px 0px hsl(0, 0%, 0%, 30%);
	cursor: pointer;
}
button:active {
	scale: 1.2;
}
section {
	width: -webkit-fill-available;
}

.grid {
	display: grid;
	grid-template-areas: 'unit';
}

.unit {
	grid-area: unit;
}

p {
	margin: 0;
}
