@font-face {
	font-family: 'spacemono';
	src: url('/fonts/SpaceMono-Regular.ttf');
}
* {
	font-family: 'spacemono', monospace;
}

html {
	min-width: fit-content;
}

body {
	min-height: 100vh;
	margin: 0;
}

#app {
	background: white;
	border-radius: 10px;
	overflow: hidden;
	display: block;
	min-height: 100vh;
}

a,
button {
	-webkit-tap-highlight-color: transparent;
}

button {
	transition: scale 0.2s cubic-bezier(0.92, 0.04, 0.27, 1.77);
	border: none;
	border-radius: 5px;
	display: grid;
	place-content: center;
	background: white;
	padding: 5px;
	cursor: pointer;
}

section {
	width: -webkit-fill-available;
}

.grid {
	display: grid;
	grid-template-areas: 'unit';
}

.unit {
	grid-area: unit;
}

p {
	margin: 0;
}
