* {
	font-family: 'spacemono', monospace;
}

html,
body,
#app {
	height: 100%;
	width: 100vw;
	overflow: hidden;
}

html {
	min-width: fit-content;
}

body,
pre {
	margin: 0;
}

#app {
	background: white;
	overflow: hidden;
	display: flex;
}

#app-content {
	flex: 1;
	overflow: hidden;
}

.maxWidth {
	width: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
}

a,
button {
	-webkit-tap-highlight-color: transparent;
}

button {
	transition: scale 0.2s cubic-bezier(0.92, 0.04, 0.27, 1.77);
	border: none;
	border-radius: 5px;
	display: grid;
	place-content: center;
	background: white;
	padding: 5px;
	cursor: pointer;
}

section {
	width: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
}

.column {
	display: flex;
	flex-direction: column;
	width: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
}
.grid {
	display: grid !important;
	grid-template-areas: 'unit';
}

.unit {
	grid-area: unit;
}

.hidden {
	opacity: 0;
	z-index: -1;
	pointer-events: none;
	overflow: hidden;
	display: none !important;
}
.not-hidden {
	opacity: 1;
	z-index: 1;
}

p,
pre {
	margin: 0;
	font-size: 0.9rem;
}

textarea,
.input,
input {
	border: hsl(0, 0%, 50%) solid 2px;
}

.input:focus-within,
input:focus-within {
	border: hsl(200, 80%, 60%) solid 2px;
}

::-webkit-scrollbar {
	width: 15px;
	height: 15px;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-corner {
	border-radius: 10px;
	background: transparent;
	border: none;
	outline: none;
}

::-webkit-scrollbar-thumb {
	background: hsl(215, 15%, 25%);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(215, 15%, 30%);
}

::-webkit-resizer {
	border: none;
}

::-moz-resizer {
	background: hsl(215, 15%, 25%);
}

.cards-box {
	display: flex;
	align-items: start;
	overflow: visible;
	margin: 20px;
	justify-content: center;
}

.algo-buttons > button:disabled {
	color: hsl(200, 50%, 50%);
	background: white;
	outline: 1px solid hsl(200, 50%, 50%);
}

@keyframes rotA {
	from {
		transform: scale(0.5) translate(-300px, 0px) rotate(0deg);
		opacity: 0;
	}
	to {
		transform: scale(1) translate(0px, 0px) rotate(0deg);
		opacity: 1;
	}
}

@keyframes rotD {
	from {
		transform: scale(1) translate(0px, 0px) rotate(0deg);
		opacity: 1;
	}
	to {
		transform: scale(1) translate(50%, 0px) rotate(-5deg);
		opacity: 0;
	}
}

.algo-buttons {
	display: flex;
	justify-content: center;
	gap: 5px;
}
.algo-buttons > button {
	background: hsl(200, 60%, 50%);
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	width: fit-content;
	transition:
		color 0.5s,
		background 0.5s,
		border;
}
